= form_for @comment, url: {controller: 'comments', action: "create"}, remote: true do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :movie_id, value: params[:id]
  = f.label :content
  = f.text_area :content
  = f.submit 'Add comment'