%h1= @res_data["data"]["attributes"]["title"]
.container
  .row
    .col-sm-2.col-md-2.col-lg-2
      %img(class="poster" src="https://pairguru-api.herokuapp.com/#{@res_data["data"]["attributes"]["poster"]}")
    .col-sm-10.col-md-10.col-lg-10
      %p Plot:
      %p(class= "plot")= @res_data["data"]["attributes"]["plot"]
      %p Rating:
      %p(class= "raiting")= @res_data["data"]["attributes"]["rating"]

#comments
  =render 'show_comments'

#new-comment
  -if user_signed_in?
    -if !commented?
      =render 'new_comment', locals: {movie_id: params[:id]}

%p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
